// Global
/////////////////////////////////////////////////////////////
body {
	font-family: 'Montserrat', sans-serif;
}

#bs-search-btn{
	background: transparent;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#bs-search-bar{
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: none;
	background: transparent;
	font-size: 24px;
	color: $gray-600;
}


// Forms
/////////////////////////////////////////////////////////////
.form-control:focus, .wpcf7 input[type=text]:focus, .wpcf7 input[type=search]:focus, .wpcf7 input[type=url]:focus, .wpcf7 input[type=tel]:focus, .wpcf7 input[type=number]:focus, .wpcf7 input[type=range]:focus, .wpcf7 input[type=date]:focus, .wpcf7 input[type=month]:focus, .wpcf7 input[type=week]:focus, .wpcf7 input[type=time]:focus, .wpcf7 input[type=datetime]:focus, .wpcf7 input[type=datetime-local]:focus, .wpcf7 input[type=color]:focus, .wpcf7 input[type=email]:focus, .wpcf7 input[type=file]:focus, .wpcf7 input[type=submit]:focus, .wpcf7 select:focus, .wpcf7 textarea:focus, .wpcf7 .wpcf7-validation-errors:focus {
	box-shadow: 0 0 0 0.2rem rgba(225, 225, 225, 0);
}

.input-group{
	border-color: $gray-400 !important;
}

input:focus {
	outline: none;
}


// Navigation
/////////////////////////////////////////////////////////////

.nav-item{
	font-size: 14px;
	padding-right: 10px;
	.nav-link{
		color: $gray-700 !important;
		text-transform: uppercase;
		transition: all .35s;
		&:hover{
			color: $gray-600 !important;
		}
	}
	img {
		width: 14px;
		height: 14px;
	}
}

.navbar-brand {
	padding-left: 10px;
}

.truncate{
	color: $gray-500;
	font-family: Georgia,Times,Times New Roman,serif; 
}



// Pages
/////////////////////////////////////////////////////////////

#homepage{
	margin-top: 150px;
}



// Search Results
/////////////////////////////////////////////////////////////

.bs-date {
	color: #9B9B9B;
}

.card{
	padding: 0px 5px;
	background-color: white;
	margin: none;
	border-radius: 5px;
	border: none;
	box-shadow: $el-2;
	transition: all .35s;
	&:hover{
		box-shadow: $el-4;
	}
	a {
		color: $gray-700;
		transition: all .35s;		
		&:hover{
			text-decoration: none;
			color: $gray-600;
		}
	}
	.bs-search-results {
		margin: 20px;
		padding-bottom: 0px;
	}
}

.bs-search-results {
	margin: 20px;
	padding-bottom: 20px;
}



// Sidebar
/////////////////////////////////////////////////////////////
.right-sidebar{
	h5{
		border-bottom: 1px solid $gray-300;
		color: $gray-600;
	}
	.bs-time-modified{
		color: $gray-500;
		font-size: 14px;
	}
	.tag-box{
		ul{
			list-style-type: none;
			padding-left: 0px;
			li{
				display: inline-block;
				margin-right: 25px;
				font-size: 14px;
				a{
					transition: all .35s;
					&:hover{
						color: lighten($primary, 20%);
						text-decoration: none;
					}
				}
			}
		}
	}
}



// Single Result
/////////////////////////////////////////////////////////////

.bs-title h3{
	color: $gray-600;
	font-size: 27px; 
	font-weight: 200;
}

.category-box {
	ul {
		list-style: none;
		padding: none;
		margin: none;
		li {
			background-color: lighten($primary, 35%);
			list-style: none;
			display: inline-block;
			margin-right: 20px;
			text-align: center;
			margin-top: 5px;
			a {
				color: $primary;
				display: inline-block;
				padding: 5px 7px;
				font-size: 12px;
				transition: all .35s;
				&:hover{
					text-decoration: none;
					background-color: lighten($primary, 15%);
					color: $white;
				}
			}
		}
		&:first-child {
			margin-left: 0px;
			padding-left: 0px;
		}
	}
}


.post-categories {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.bs-content {
	p {
		font-size: 14px;
		font-weight: 100;
		color: $gray-600;
	}
}



