// Global
/////////////////////////////////////////////////////////////
body {
	font-family: 'Montserrat', sans-serif;
}

.form-control:focus, .wpcf7 input[type=text]:focus, .wpcf7 input[type=search]:focus, .wpcf7 input[type=url]:focus, .wpcf7 input[type=tel]:focus, .wpcf7 input[type=number]:focus, .wpcf7 input[type=range]:focus, .wpcf7 input[type=date]:focus, .wpcf7 input[type=month]:focus, .wpcf7 input[type=week]:focus, .wpcf7 input[type=time]:focus, .wpcf7 input[type=datetime]:focus, .wpcf7 input[type=datetime-local]:focus, .wpcf7 input[type=color]:focus, .wpcf7 input[type=email]:focus, .wpcf7 input[type=file]:focus, .wpcf7 input[type=submit]:focus, .wpcf7 select:focus, .wpcf7 textarea:focus, .wpcf7 .wpcf7-validation-errors:focus {
	box-shadow: 0 0 0 0.2rem rgba(225, 225, 225, 0);
}


#bs-search-btn{
	background: transparent !important;
	display: inline-block !important;
	font-weight: 400 !important;
	text-align: center !important;
	white-space: nowrap !important;
	vertical-align: middle !important;
	user-select: none !important;
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	border-bottom: none !important;
	padding: 0.375rem 0.75rem !important;
	font-size: 1rem !important;
	line-height: 1.5 !important;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

#bs-search-bar{
	border-top: none !important;
	border-right: none !important;
	border-left: none !important;
	border-bottom: none !important;
	background: transparent;
}

.truncate{
	color: $gray-500;
	font-family: Georgia,Times,Times New Roman,serif; 
}

.input-group{
	border-color: #DFDFDF !important;
}


#homepage{
	margin-top: 150px !important;
}


input:focus {
	outline: none !important;
}

.bs-date {
	color: #9B9B9B !important;
}

.nav-item{
	font-size: 14px !important;
	padding-right: 10px !important;
	li {
		color: #5A5A5A !important;
	}
	img {
		width: 14px !important;
		height: 14px !important;
	}
}

.navbar-brand {
	padding-left: 10px;
}

#bs-title {
	color: $gray-600 !important;
	font-size: 27px !important; 
	font-weight: 200 !important;
}
#bs-revised {
	color: $gray-600 !important;
	font-size: 17px !important;
	padding-bottom: 20px;
	border-bottom: 1px solid $gray-400;
}

#bs-time-posted {
	font-size: 12px !important;
}

.category-box {
	border-top: 1px solid $gray-400 !important;
	ul {
		list-style: none !important;
		padding: none !important;
		margin: none !important;
		li {
			background-color: lighten($primary, 35%) !important;
			font-size: 12px !important;
			list-style: none !important;;
			display: inline-block;
			margin-right: 20px;
			text-align: center;
			padding: 10px !important;
			margin-top: 5px !important;

			a {
				color: $primary !important;
			}
		}
		&:first-child {
			margin-left: 0px !important;
			padding-left: 0px !important;
		}
	}
}
.card {
	padding: 25px !important;
	background-color: white !important;
	margin: none !important;
	border-radius: 5px !important;
	box-shadow: none !important;
	a {
		color: $gray-600 !important;
	}
}

#bs-search-results {
	margin-top: 10px !important;
	padding-bottom: 40px !important;
	}

.post-category {
	padding: 0px !important;
	margin: 0px !important;
	list-style: none !important;
}

.bs-content {
	p {
		font-size: 12px !important;
		font-weight: 100 !important;
		color: $gray-600 !important;
	}
}



